@font-face {
    font-family: EIisabethische;
    src: url('../style/fonts/18223.ttf'); 
}

.menu{
  
    height: 60px;
    background: #5d3580;
  background: -webkit-linear-gradient(-135deg, #5e275a, #4158d0);
  background: -o-linear-gradient(-135deg, #5e275a, #4158d0);
  background: -moz-linear-gradient(-135deg, #5e275a, #4158d0);
  background: linear-gradient(-135deg, #5e275a, #4158d0);
} 
a{
	color: white;
	font-family: EIisabethische, sans-serif;
	font-size: 25px;
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #baacdf;
}
