@font-face {
    font-family: EIisabethische;
    src: url('../style/fonts/18223.ttf'); 
}

.menu{
  
    height: 60px;
  background: -webkit-linear-gradient(-135deg, #3f3f3fe5, #6e6e6eda);
  background: -o-linear-gradient(-135deg, #3f3f3fe5, #6e6e6eda);
  background: -moz-linear-gradient(-135deg, #3f3f3fe5, #6e6e6eda);
  background: linear-gradient(-135deg, #3f3f3fe5, #6e6e6eda);
} 
.nav-logo{
	color: white;
	font-size: 25px;
	line-height: 1.7;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.nav-logo:focus {
	outline: none !important;
}

.nav-logo:hover {
	text-decoration: none;
  color: #464646;
}
